{
    "producer_number": 5,
    "producers_config": 
     {
        "producers": [{
            "producer_name": "vast",
            "block_signing_key": "VAST7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        },{
           "producer_name": "vast1",
            "block_signing_key": "VAST7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        },{
           "producer_name": "vast2",
            "block_signing_key": "VAST7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        },{
           "producer_name": "vast3",
            "block_signing_key": "VAST7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        },{
           "producer_name": "vast4",
            "block_signing_key": "VAST7vuvMYQwm6WYLoopw6DqhBumM4hC7RA5ufK8WSqU7VQyfmoLwA"
        }]
    },                  
    "nodes_number": 10,                      
    "vastd_port_http": 8888,
    "vastd_port_p2p": 9876,
    "vastd_dir": "/home/laighno/vastd_data",
    "use_tmpfs": false,                     
    "tmpfs_size": 1024,                     
    "free_dir": false                      
}